body{
    margin-top:40px;
    background-color: #8F99AB
}
div.tab {
    overflow: hidden;
    background-color: #3D4148;
}
div.tab button {
    color: white;
    float: left;
    background-color: inherit;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: none;
    outline: none;
    margin-left: 2px;
    border-right: 2px solid #c5c5c5;
}
.tabcontent{
    display: none;
    height: auto;
    padding: 20px 20px 20px 20px;
    background-color: white;
}
div.tab button:focus{
    background-color: #c5c5c5;;
}
div.tab button:target{
    background-color: #c5c5c5;;
}

div.tab button.active {
    background-color: #ccc;
}
.results input{
    margin-top: 10px;
}
.results{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    border: 2px solid black;
    padding: 10px 20px 20px 20px;
}
#time_box{
  font-size: 3em;
  font-style: bold;
  font-family: Monospace, Georgia, Serif;
}
.line{
    width:90%;
    border: 2px solid grey;
    margin: 0 auto;
    margin-bottom: 20px;
}
#searchField{
  width: 550px;
  margin-top: 0px;
  margin-left: auto;
  padding: 20px 30px 20px 30px;
  text-align: right;
  overflow: hidden;
}
.pointer{
  font-size: 6em;
  float: left;
  display: inline-block;
  margin-right: 20px;
  margin-top: -10px;
  color: #4cae4c;
}
#weather{
    font-size: 2em;
}
#description{
    font-size: 0.6em;
}
#map{
  height: 900px;
  border: 3px solid black;
  margin: 0 auto;
}
#info-box{
  text-align: center;
  background-color: #81CFE7;
  border-radius: 6px 6px 6px 6px;
  font-size: 17px;
  margin-bottom: 5px;
}
